<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Food Delivery Ionic 7 And Laravel
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<div mdbModal #variantModal="mdbModal" class="modal fade bottom" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 99999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{util.translate('customize')}}: “{{productName}}”</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="variantModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body location_body">
        <!-- Same Product -->
        <div *ngIf="sameProduct">
          <div class="row" *ngFor="let item of sameCart;let i = index" style="margin-bottom: 10px;">
            <div class="col-3">
              <p class="name">{{productName}}</p>
            </div>
            <div class="col-5">
              <p *ngFor="let sub of item.item" class="subDetails"> {{sub.name}} </p>
            </div>
            <div class="col-4">
              <div class="cart_btn">
                <label class="btns" mdbWavesEffect (click)="removeQSame(i)">-</label>
                <label class="totls">
                  {{item.total}}
                </label>
                <label class="btns" mdbWavesEffect (click)="addQSame(i)">+</label>
              </div>
            </div>
          </div>
        </div>

        <!-- New Or diff variations -->
        <div *ngIf="!sameProduct" class="padder">
          <div *ngFor="let item of lists;let i = index;">
            <div *ngIf="item.type == 'radio'">
              <p class="title"> {{item.title}} </p>

              <div class="custom-control custom-radio" *ngFor="let sub of item.items;let j = index;">
                <input type="radio" class="custom-control-input" (input)="radioGroupChange(i,j)" [id]="sub.title"
                  [name]="sub.title" [value]="sub.title" mdbInput [checked]="sub.isChecked">
                <label class="custom-control-label" [for]="sub.title">
                  <span style="text-align: left">{{sub.title}} </span>
                  <span style="text-align: right">
                    <span *ngIf="util.appSettings.currencySide == 'left'">
                      {{util.appSettings.currencySymbol}}
                      {{sub.price}}
                    </span>
                    <span *ngIf="util.appSettings.currencySide == 'right'">
                      {{sub.price}}
                      {{util.appSettings.currencySymbol}}
                    </span>
                  </span>
                </label>
              </div>
            </div>

            <div *ngIf="item.type =='check'">
              <div class="form-group">
                <p class="title"> {{item.title}} </p>
                <div *ngFor="let sub of item.items;let j = index;" style="margin: 0px;">
                  <label class="chbox">
                    <input type="checkbox" (input)="checkedEvent($event,i,j)" [value]="sub.price" />
                    <span style="margin-left: 10px;"> {{sub.title}}
                      <span *ngIf="util.appSettings.currencySide == 'left'">
                        {{util.appSettings.currencySymbol}}
                        {{sub.price}}
                      </span>
                      <span *ngIf="util.appSettings.currencySide == 'right'">
                        {{sub.price}}
                        {{util.appSettings.currencySymbol}}
                      </span>
                    </span>

                  </label>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mdbBtn style="width: 100%;" (click)="addToCart()" color="danger" class="waves-light" mdbWavesEffect
          *ngIf="!sameProduct">{{util.translate('Add Item')}}
        </button>
        <div class="row" *ngIf="sameProduct" style="width: 100%;margin: 0px;">
          <div class="col-6">
            <button mdbBtn style="width: 100%;" (click)="sameChoise()" color="danger" class="waves-light"
              mdbWavesEffect>{{util.translate('Add')}}
            </button>
          </div>
          <div class="col-6">
            <button mdbBtn style="width: 100%;" (click)="sameProduct = !sameProduct;newItem = true" color="danger"
              class="waves-light" mdbWavesEffect>{{util.translate('Add new')}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div [ngStyle]="{'background-image':'url('+api.mediaURL+cover+'),url(assets/images/placeholder.jpg)'}"
    class="back_img">
    <div class="overlay"></div>
    <div class="abs_div">
      <label class="pro_name"> {{name}} </label>
      <label class="pro_detail" style="font-size: 12px;"> <span *ngFor="let item of cusine;let i = index"> {{item}} •
        </span></label>
    </div>
  </div>
  <div class="flex_menu">
    <label [ngClass]="tab == 1 ? 'activeTab' : 'deactiveTab'" (click)="tab = 1">{{util.translate('Orders')}}</label>
    <label [ngClass]="tab == 2 ? 'activeTab' : 'deactiveTab'" (click)="tab = 2">{{util.translate('Reviews')}}</label>
    <label [ngClass]="tab == 3 ? 'activeTab' : 'deactiveTab'" (click)="tab = 3">{{util.translate('Photos')}}</label>
    <label [ngClass]="tab == 4 ? 'activeTab' : 'deactiveTab'" (click)="tab = 4">{{util.translate('Overview')}}</label>
  </div>
</div>

<div class="container rest_container" *ngIf="tab ==1">

  <div class="row">
    <div [ngClass]="util.deviceType =='mobile' ? 'col-12' :'col-3'">
      <div class="cart_div" *ngIf="util.deviceType !='mobile'">
        <label *ngFor="let item of dumyCates">
          <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
        </label>
        <label *ngFor="let item of categories" [ngClass]="caetId == item.id ? 'activeTab' : 'deactiveTab'"
          (click)="caetId = item.id;getFoodByCid()"> {{item.name}} </label>
      </div>
      <div class="" *ngIf="util.deviceType =='mobile'">
        <div class="scrollbale">
          <label *ngFor="let item of dumyCates">
            <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
          </label>
          <label *ngFor="let item of categories" [ngClass]="caetId == item.id ? 'activeTab' : 'deactiveTab'"
            (click)="caetId = item.id;getFoodByCid()"> {{item.name}} </label>
        </div>
      </div>
    </div>
    <!-- class="col-lg-6 col-sm-12 col-md-12 col-xs-12" -->
    <div [ngClass]="util.deviceType =='mobile' ? 'col-12' :'col-6'">
      <div class="row">

        <div class="col-lg-12">
          <div class="row product_div">
            <div class="pro_col col-lg-12 col-sm-12 col-md-12 col-xs-12" *ngFor="let item of dummy;let i = index">
              <div class="pro_div">
                <div class="rest_img bg_image">
                  <ngx-skeleton-loader appearance="line" [theme]="{  height: '120px',width:'120px'}">
                  </ngx-skeleton-loader>
                </div>
                <div class="content_div">
                  <label class="pro_name">
                    <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'220px'}">
                    </ngx-skeleton-loader>
                  </label>
                  <label class="pro_name">
                    <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'220px'}">
                    </ngx-skeleton-loader>
                  </label>
                  <label class="detail_lbl">
                    <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'170px'}">
                    </ngx-skeleton-loader>
                  </label>
                </div>
              </div>
            </div>
            <div class="pro_col col-lg-12 col-sm-12 col-md-12 col-xs-12" *ngFor="let item of foods;let i = index">
              <div class="pro_div">
                <div class="rest_img bg_image"
                  [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/images/placeholder.jpg)'}">
                </div>
                <div class="content_div">
                  <label class="pro_name">{{ (item.name.length>60)? (item.name | slice:0:60)+'..':(item.name) }}
                  </label>
                  <label class="detail_lbl">
                    {{ (item.details.length>60)? (item.details | slice:0:60)+'..':(item.details) }}
                  </label>
                  <div class="rate_div">
                    <mdb-icon fas icon="star"></mdb-icon>
                    <mdb-icon fas icon="star"></mdb-icon>
                    <mdb-icon fas icon="star"></mdb-icon>
                    <mdb-icon fas icon="star"></mdb-icon>
                    <mdb-icon fas icon="star"></mdb-icon>
                  </div>

                  <div class="flex_div">
                    <label class="price">
                      <span *ngIf="util.appSettings.currencySide == 'left'">
                        {{util.appSettings.currencySymbol}}
                        {{item.price}}
                      </span>
                      <span *ngIf="util.appSettings.currencySide == 'right'">
                        {{item.price}}
                        {{util.appSettings.currencySymbol}}
                      </span>
                    </label>
                    <div style="text-align: right;" *ngIf="!cart.itemId.includes(item.id)">
                      <button mdbBtn class="place_btn" mdbWavesEffect
                        (click)="add(i)">{{util.translate('Add')}}</button>
                      <label *ngIf="item && item.variations && item.variations?.length"
                        style="font-size: 10px; text-align: center; margin-top: 5px;">{{util.translate('customizable')}}</label>
                    </div>
                    <div class="cart_btn" *ngIf="cart.itemId.includes(item.id)">
                      <label class="btns" mdbWavesEffect (click)="removeQ(i)">-</label>
                      <label class="totls">{{item.quantiy}} </label>
                      <label class="btns" mdbWavesEffect (click)="addQ(i)">+</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="no_data" *ngIf="haveData == false">
        <div class="empty" [ngStyle]="{'background-image':'url(assets/images/nodata.jpg)'}"></div>
        <p>{{util.translate('Opps.. no food found')}} </p>
      </div>
    </div>
    <div [ngClass]="util.deviceType =='mobile' ? 'col-12' :'col-3'">
      <div class="cart_box">
        <label class="title">{{util.translate('Cart')}} </label>
        <div class="noData" *ngIf="!cart.cart?.length">
          <img src="assets/images/food-cart.png" alt="" class="noDataImg">
          <label>{{util.translate('Your Cart is Empty')}}</label>
          <label>{{util.translate('Please add your favourite food')}} </label>
        </div>

        <div class="cart_items" *ngIf="cart.cart?.length">
          <div *ngFor="let item of cart.cart;let i = index">
            <div class="row" *ngIf="item.quantiy > 0 && !item.selectedItem?.length">
              <div class="col-2 cover_img"
                [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/images/placeholder.jpg)'}">
              </div>
              <div class="col-6">
                <label class="heading_lbl">
                  {{ (item.name.length>20)? (item.name | slice:0:20)+'..':(item.name) }}
                </label>
                <div class="Rating">
                  ({{item.rating}} {{util.translate('Ratings')}})
                </div>
                <label class="small_lbl">
                  {{ (item.details.length>30)? (item.details | slice:0:30)+'..':(item.details) }}
                </label>
                <label class="heading_lbl">
                  <span *ngIf="util.appSettings.currencySide == 'left'">
                    {{util.appSettings.currencySymbol}}
                    {{item.price}}
                  </span>
                  <span *ngIf="util.appSettings.currencySide == 'right'">
                    {{item.price}}
                    {{util.appSettings.currencySymbol}}
                  </span>
                </label>
              </div>
              <div class="col-4 ">
                <div class="cart_btn">
                  <label class="btns" mdbWavesEffect (click)="removeCartQ(i)">-</label>
                  <label class="totls">{{item.quantiy}} </label>
                  <label class="btns" mdbWavesEffect (click)="addCartQ(i)">+</label>
                </div>
              </div>
            </div>
            <div *ngIf="item.quantiy > 0 && item.selectedItem?.length">
              <div class="row" *ngFor="let subItems of item.selectedItem;let j = index">
                <div class="col-2 cover_img"
                  [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/images/placeholder.jpg)'}">
                </div>
                <div class="col-6">
                  <label class="heading_lbl">{{item.name}}</label>
                  <p *ngFor="let addods of subItems.item" style="margin: 0px;font-size: 10px;color: black;">
                    - {{addods.name}}
                    <span style="color: black;">
                      <span *ngIf="util.appSettings.currencySide == 'left'">
                        {{util.appSettings.currencySymbol}}
                        {{addods.value}}
                      </span>
                      <span *ngIf="util.appSettings.currencySide == 'right'">
                        {{addods.value}}
                        {{util.appSettings.currencySymbol}}
                      </span>
                    </span>
                  </p>
                </div>
                <div class="col-4">
                  <div class="cart_btn">
                    <label class="btns" mdbWavesEffect (click)="removeAddonCartQ(i,j)">-</label>
                    <label class="totls">{{item.selectedItem[j].total}} </label>
                    <label class="btns" mdbWavesEffect (click)="addAddonCartQ(i,j)">+</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="cart.cart?.length">
          <div class="cart_checkout">
            <label class="subTotal">{{util.translate('Subtotal')}}:
              <span *ngIf="util.appSettings.currencySide == 'left'">
                {{util.appSettings.currencySymbol}}
                {{cart.totalPrice}}
              </span>
              <span *ngIf="util.appSettings.currencySide == 'right'">
                {{cart.totalPrice}}
                {{util.appSettings.currencySymbol}}
              </span>
            </label>
            <button mdbBtn class="place_btn" (click)="openCart()">{{util.translate('Checkout')}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="tab ==2" class="container">
  <h2 class="decorated"><span>{{util.translate('Reviews')}}</span></h2>
  <div class="reviews">
    <div class="row" style="margin: 10px 0px;">
      <div class="col-6" *ngFor="let item of reviews">
        <div class="row" style="padding: 10px;box-shadow: 0px 0px 4px 0px #dee2e6;">
          <div class="col-2">
            <img [src]="api.mediaURL+item.cover" class="avtar" />
          </div>
          <div class="col-10">
            <span>
              <p class="from">{{util.translate('Received From')}} {{item.way}} </p>
              <h3 class="usrname"> {{item.fname}} {{item.lname}} </h3>
              <p class="from"> {{item.msg}} </p>
              <p class="from"> {{getDate(item.timestamp)}} </p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="no_data" *ngIf="haveReview == false">
    <div class="empty" [ngStyle]="{'background-image':'url(assets/images/nodata.jpg)'}"></div>
    <p>{{util.translate('Opps.. no reviews found')}} </p>
  </div>
</div>

<div *ngIf="tab ==3" class="container">
  <h2 class="decorated"><span>{{util.translate('Photos')}}</span></h2>
  <div class="photos">
    <div class="row">
      <div class="col-4" *ngFor="let item of images">
        <div class="slide_image" [ngStyle]="{'background-image':'url('+api.mediaURL+item+')'}">

        </div>
      </div>
    </div>
  </div>
  <div class="no_data" *ngIf="havePhotos == false">
    <div class="empty" [ngStyle]="{'background-image':'url(assets/images/nodata.jpg)'}"></div>
    <p>{{util.translate('Opps.. no photos found')}} </p>
  </div>
</div>

<div *ngIf="tab ==4" class="container">
  <h2 class="decorated"><span>{{util.translate('Overview')}}</span></h2>
  <div class="content_div">
    <label class="addr_lbl">
      <mdb-icon fas icon="location-arrow"></mdb-icon>
      {{address}}
    </label>
    <label class="addr_lbl">
      <mdb-icon fas icon="clock"></mdb-icon>
      {{open}} : {{close}}
    </label>
    <label class="addr_lbl">
      <mdb-icon fas icon="phone-alt"></mdb-icon>
      {{contactNo}}
    </label>
  </div>
</div>

<div class="fixed_cart" *ngIf="cart.cart?.length">
  <div class="container">
    <div class="flex_cart">
      <label class="subTotal">{{util.translate('Your Order')}} ({{cart.totalItem}}) </label>
      <div class="flxer">
        <label class="subTotal">{{util.translate('Subtotal')}}:
          <span *ngIf="util.appSettings.currencySide == 'left'">
            {{util.appSettings.currencySymbol}}
            {{cart.totalPrice}}
          </span>
          <span *ngIf="util.appSettings.currencySide == 'right'">
            {{cart.totalPrice}}
            {{util.appSettings.currencySymbol}}
          </span>
        </label>
        <button mdbBtn class="place_btn" (click)="openCart()">{{util.translate('Checkout')}}</button>
      </div>
    </div>
  </div>
</div>