<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Food Delivery Ionic 7 And Laravel
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<div mdbModal #filterModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" style="z-index: 99999;">
  <div class="modal-dialog modal-side  modal-bottom-right" role="document">
    <div class="modal-content">
      <div class="modal-body location_body">
        <div>
          <img src="assets/images/cancel.png" style="width: 20px;" (click)="filterModal.hide()">
          <div class="form_div">
            <label (click)="filterModal.hide();addFilter(0)" [class.active]="activeFilter == 0">
              {{util.translate('Rating 4.0+')}} </label>
            <label (click)="filterModal.hide();addFilter(1)"
              [class.active]="activeFilter == 1">{{util.translate('Fastest Delivery')}}
            </label>
            <label (click)="filterModal.hide();addFilter(2)"
              [class.active]="activeFilter == 2">{{util.translate('Cost')}}</label>
            <label (click)="filterModal.hide();addFilter(3)"
              [class.active]="activeFilter == 3">{{util.translate('A-Z')}}</label>
            <label (click)="filterModal.hide();addFilter(4)"
              [class.active]="activeFilter == 4">{{util.translate('Z-A')}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container rest_container" [style.margin-top]="util.deviceType != 'desktop' ? '60px' : null">

  <div class="row">
    <div class="home_header container" *ngIf="dummyRest?.length">
      <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block" style="text-align: initial !important;">
          <h1 class="headersLines">{{dummyRest.length}} {{util.translate('restaurants in')}} {{getAddressName()}} </h1>
          <a class="subHeaders_address" (click)="showAddressChangePopup()">{{util.translate('Change address')}} </a>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-5">
          <input type="text" (ngModelChange)="onSearchChange($event)" [(ngModel)]="searchKeyword" class="searchbar_home"
            [placeholder]="util.translate('Search Restaurants')">
        </div>
      </div>
    </div>

    <div class="flexed">
      <div *ngFor="let item of  dummyBanners;">
        <ngx-skeleton-loader appearance="circle" [theme]="{ 'border-radius': '5px', height: '120px',width:'180px'}">
        </ngx-skeleton-loader>
      </div>
    </div>

    <div class="slider_row">
      <div class="container" style="width: 100%;" *ngIf="banners?.length">
        <swiper-container [slidesPerView]="util.deviceType == 'mobile' ? 1.2: 4" speed="500" loop="false"
          css-mode="true" space-between="10">
          <swiper-slide *ngFor="let item of banners;" (click)="openOffers(item)">
            <div class="slider_back bg_image"
              [ngStyle]="{'background-image':'url('+api.mediaURL+item.banner+'),url(assets/images/placeholder.jpg)'}">
              <div class="overlay_div">
                <label> {{item.message}} </label>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>

    <div class="col-12 normalClass" *ngIf="allRest?.length && !dummy?.length && util.deviceType =='desktop'">
      <div class="filters">
        <label (click)="addFilter(0)" [class.active]="activeFilter == 0">{{util.translate('Rating 4.0+')}} </label>
        <label (click)="addFilter(1)" [class.active]="activeFilter == 1">{{util.translate('Fastest Delivery')}} </label>
        <label (click)="addFilter(2)" [class.active]="activeFilter == 2">{{util.translate('Cost')}}</label>
        <label (click)="addFilter(3)" [class.active]="activeFilter == 3">{{util.translate('A-Z')}}</label>
        <label (click)="addFilter(4)" [class.active]="activeFilter == 4">{{util.translate('Z-A')}}</label>
      </div>
    </div>

    <div class="col-12 normalClass" *ngIf="!allRest?.length && dummy?.length">

      <div class="filters">
        <label>
          <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
        </label>
        <label>
          <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
        </label>
        <label>
          <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
        </label>
        <label>
          <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
        </label>
        <label>
          <ngx-skeleton-loader appearance="line" [theme]="{  height: '20px',width:'70px'}"> </ngx-skeleton-loader>
        </label>
      </div>
    </div>

    <div class="col-lg-12" *ngIf="!allRest?.length">
      <div class="row product_div">
        <div class="pro_col col-lg-4 col-sm-12 col-md-6 col-xs-12" *ngFor="let item of dummy">
          <ngx-skeleton-loader appearance="circle" [theme]="{ 'border-radius': '5px', height: '150px',width:'100%'}">
          </ngx-skeleton-loader>
        </div>
      </div>
    </div>

    <div class="col-lg-12" *ngIf="allRest?.length && !dummy?.length">
      <div class="row product_div ">
        <div class="pro_col col-lg-4 col-sm-12 col-md-6 col-xs-12" *ngFor="let item of allRest">
          <div class="pro_div hoverable" (click)="goToRestDetail(item)">
            <div class="rest_img bg_image"
              [ngStyle]="{'background-image':'url('+api.mediaURL+item.cover+'),url(assets/images/placeholder.jpg)'}">
            </div>
            <div class="content_div">
              <label class="pro_name">{{ (item.name.length>30)? (item.name | slice:0:30)+'..':(item.name) }} </label>
              <label class="addr" style="font-size: 14px;">{{ (item.cusine.length>30)? (item.cusine |
                slice:0:30)+'..':(item.cusine) }}</label>
              <label class="addr">
                {{ (item.address.length>30)? (item.address | slice:0:30)+'..':(item.address) }}
              </label>
              <div class="more_data">
                <div class="row">
                  <div class="col-4">
                    <div class="information">
                      <mdb-icon fas icon="star"></mdb-icon>
                      <label class="lbl">
                        {{item.rating}}
                      </label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="information">
                      <mdb-icon fas icon="clock"></mdb-icon>
                      <label class="lbl">
                        {{item.time}} {{util.translate('MINS')}}
                      </label>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="information">
                      <mdb-icon fas icon="money-bill-alt"></mdb-icon>
                      <label class="lbl">
                        <span *ngIf="util.appSettings.currencySide == 'left'">{{util.appSettings.currencySymbol}}
                          {{item.dish}}
                        </span>
                        <span *ngIf="util.appSettings.currencySide == 'right'">{{item.dish}}
                          {{util.appSettings.currencySymbol}}
                        </span>
                        {{util.translate('Per Person')}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fixedBottomBtn" *ngIf="util.deviceType !='desktop'" (click)="filterModal.show()">
      <div class="filterBtn hoverable">
        <mdb-icon fas icon="filter"></mdb-icon>
      </div>
    </div>
  </div>
  <div class="no_data" *ngIf="haveData ==false">
    <div class="empty" [ngStyle]="{'background-image':'url(assets/images/nodata.jpg)'}"></div>
    <p> {{util.translate('Opps.. nothing found near')}} {{getAddressName()}}</p>
  </div>
</div>