<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Food Delivery Ionic 7 And Laravel
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="light">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="isEdit == true">{{util.translate('Edit Food')}}</ion-title>
    <ion-title *ngIf="isEdit == false">{{util.translate('Add Food')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="add-food-screen">
    <div *ngIf="isLoaded == false" class="center-loader">
      <ion-spinner name="circular" color="primary"></ion-spinner>
    </div>
    <ion-list lines="none" *ngIf="isLoaded == true">
      <ion-item>
        <ion-label aria-label="category">{{util.translate('Category')}}</ion-label>
        <ion-select [(ngModel)]="cid" interface="popover" mode="ios" label="category">
          <ion-select-option *ngFor="let item of categories" [value]="item.id">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="name" type="text" [placeholder]="util.translate('Food name')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="price" type="number" [placeholder]="util.translate('Price')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label aria-label="veg">{{util.translate('Veg')}}</ion-label>
        <ion-select [(ngModel)]="veg" interface="popover" mode="ios" label="veg">
          <ion-select-option [value]="1">{{util.translate('Veg')}}</ion-select-option>
          <ion-select-option [value]="0">{{util.translate('Non Veg')}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="descriptions" rows="5" [placeholder]="util.translate('Short descriptions')">
        </ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label aria-label="status">{{util.translate('Status')}}</ion-label>
        <ion-select [(ngModel)]="status" interface="popover" mode="ios" label="status">
          <ion-select-option [value]="1">{{util.translate('Available')}}</ion-select-option>
          <ion-select-option [value]="0">{{util.translate('Hide')}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="coverPlaceholder" (click)="cover()" *ngIf="!coverImage || coverImage ==''">
        <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
        <p>{{util.translate('Upload foods cover image here')}}</p>
      </div>
      <div class="coverReal" (click)="cover()"
        [ngStyle]="{'background-image':'url('+api.mediaURL+coverImage+'),url(assets/images/placeholder.jpg)'}"
        *ngIf="coverImage && coverImage !=''">
      </div>
      <ion-item>
        <ion-label aria-label="size">{{util.translate('Size?')}} <span style="font-size: 10px !important;">(
            {{util.translate('Regular,Medium,Large')}} ) </span> </ion-label>
        <ion-select [(ngModel)]="size" (ngModelChange)="changeSize($event)" interface="popover" mode="ios" label="size">
          <ion-select-option [value]="1">{{util.translate('Yes')}}</ion-select-option>
          <ion-select-option [value]="0">{{util.translate('No')}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="noLines">
        <ion-label>{{util.translate('Add-ons')}} <span
            style="font-size: 10px !important;">({{util.translate('Extras,cold drinks')}})</span> </ion-label>
        <ion-icon name="add" (click)="addNew()" slot="end"></ion-icon>
      </ion-item>


      <ion-list>
        <ion-item-sliding *ngFor="let item of variations;let i = index;">
          <ion-item class="noLines">
            <ion-label>{{item.title}}</ion-label>
            <ion-icon name="create-outline" slot="end" *ngIf="item.title !='size'" (click)="editTitle(i)"></ion-icon>
            <ion-icon name="add-circle" slot="end" (click)="addItem(i)"></ion-icon>
            <ion-icon name="trash" slot="end" (click)="delete(item)"></ion-icon>
          </ion-item>
          <ion-item *ngFor="let sub of item.items;let j = index" class="sub" lines="nones">
            <ion-label>{{sub.title}}
              <ion-label>
                <span *ngIf="util.appSettings.currencySide == 'left'">
                  {{util.appSettings.currencySymbol}}
                  {{sub.price}}
                </span>
                <span *ngIf="util.appSettings.currencySide == 'right'">
                  {{sub.price}}
                  {{util.appSettings.currencySymbol}}
                </span>
              </ion-label>
            </ion-label>
            <ion-icon name="create-outline" slot="end" (click)="editSub(i,sub,j)"></ion-icon>
            <ion-icon name="trash-outline" slot="end" (click)="deleteSub(i,sub)"></ion-icon>
          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <p class="lbl"> {{util.translate('Upload More Images')}} </p>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <div class="galleryPlaceholder" (click)="others('1')" *ngIf="!image1 || image1 ==''">
              <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
              <p> {{util.translate('Image 1')}} </p>
            </div>
            <div class="galleryReal" (click)="others('1')" [style.backgroundImage]="'url('+api.mediaURL+image1+')'"
              *ngIf="image1 && image1 !=''">
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <div class="galleryPlaceholder" (click)="others('2')" *ngIf="!image2 || image2 ==''">
              <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
              <p>{{util.translate('Image 2')}}</p>
            </div>
            <div class="galleryReal" (click)="others('2')" [style.backgroundImage]="'url('+api.mediaURL+image2+')'"
              *ngIf="image2 && image2 !=''">
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <div class="galleryPlaceholder" (click)="others('3')" *ngIf="!image3 || image3 ==''">
              <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
              <p>{{util.translate('Image 3')}}</p>
            </div>
            <div class="galleryReal" (click)="others('3')" [style.backgroundImage]="'url('+api.mediaURL+image3+')'"
              *ngIf="image3 && image3 !=''">
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <div class="galleryPlaceholder" (click)="others('4')" *ngIf="!image4 || image4 ==''">
              <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
              <p>{{util.translate('Image 4')}}</p>
            </div>
            <div class="galleryReal" (click)="others('4')" [style.backgroundImage]="'url('+api.mediaURL+image4+')'"
              *ngIf="image4 && image4 !=''">
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <div class="galleryPlaceholder" (click)="others('5')" *ngIf="!image5 || image5 ==''">
              <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
              <p>{{util.translate('Image 5')}}</p>
            </div>
            <div class="galleryReal" (click)="others('5')" [style.backgroundImage]="'url('+api.mediaURL+image5+')'"
              *ngIf="image5 && image5 !=''">
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-margin ion-no-padding">
            <div class="galleryPlaceholder" (click)="others('6')" *ngIf="!image6 || image6 ==''">
              <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
              <p>{{util.translate('Image 6')}}</p>
            </div>
            <div class="galleryReal" (click)="others('6')" [style.backgroundImage]="'url('+api.mediaURL+image6+')'"
              *ngIf="image6 && image6 !=''">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col size="6">
          <ion-button (click)="submit()" expand="block">
            {{util.translate('Submit')}}
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="preview()">{{util.translate('Preview')}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>