<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Food Delivery Ionic 7 And Laravel
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-content>
  <div class="center-loader" *ngIf="apiCalled == false">
    <ion-spinner name="circular" color="primary"></ion-spinner>
  </div>
  <div class="category-screen" *ngIf="apiCalled == true">

    <div class="restContent"
      [ngStyle]="{'background-image':'url('+api.mediaURL+cover+'),url(assets/images/placeholder.jpg)'}">
      <div class="btnss">
        <ion-icon (click)="onBack()" class="backIcon" color="light" slot="start" name="chevron-back-outline"></ion-icon>
        <ion-label class="moreInfo" (click)="openDetails()">{{util.translate('View more')}}</ion-label>
      </div>
    </div>

    <div class="foodsContent">
      <ion-label class="restname">{{name}}</ion-label>
      <ion-label class="cusine">{{cusine}}</ion-label>
      <div class="ratting">
        <ion-icon [name]="totalRatting >= 1 ? 'star':'star'" [color]="totalRatting >= 1 ? 'warning':'medium'">
        </ion-icon>
        <ion-icon [name]="totalRatting >= 2 ? 'star':'star'" [color]="totalRatting >= 2 ? 'warning':'medium'">
        </ion-icon>
        <ion-icon [name]="totalRatting >= 3 ? 'star':'star'" [color]="totalRatting >= 3 ? 'warning':'medium'">
        </ion-icon>
        <ion-icon [name]="totalRatting >= 4 ? 'star':'star'" [color]="totalRatting >= 4 ? 'warning':'medium'">
        </ion-icon>
        <ion-icon [name]="totalRatting >= 5 ? 'star':'star'" [color]="totalRatting >= 5 ? 'warning':'medium'">
        </ion-icon>
        <ion-label class="lbl">( {{ratting}} {{util.translate('Ratings')}} )</ion-label>
      </div>
      <ion-item lines="none" class="deliveryAddress">
        <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
        <ion-label class="lbl">{{address}}</ion-label>
      </ion-item>

      <div class="vegSection">
        <ion-label>{{util.translate('Veg Only')}}</ion-label>
        <ion-toggle color="success" mode="md" (ionChange)="statusChange()" [(ngModel)]="veg"></ion-toggle>
      </div>
      <div *ngIf="categories?.length">
        <ion-segment #content (ionChange)="segmentChanged()" scrollable [(ngModel)]="cateId" mode="md">
          <ion-segment-button [value]="item.id" [id]="item.id" *ngFor="let item of categories">
            <ion-label> {{item.name}} </ion-label>
          </ion-segment-button>
        </ion-segment>
        <div class="card_div">
          <ion-row class="card" *ngFor="let item of foods;let i = index">
            <ion-col size="3">
              <img [src]="api.mediaURL+item.cover" class="image_div" onError="this.src='assets/images/placeholder.jpg'"
                [alt]="item.name">
            </ion-col>
            <ion-col size="6">
              <div class="desc_div">
                <ion-label class="heading_lbl">
                  {{ (item.name.length>20)? (item.name | slice:0:20)+'..':(item.name) }}
                </ion-label>
                <div class="foodi-rating">
                  <ion-icon [name]="item.rating >= 1 ? 'star':'star'" [color]="item.rating >= 1 ? 'warning':'medium'">
                  </ion-icon>
                  <ion-icon [name]="item.rating >= 2 ? 'star':'star'" [color]="item.rating >= 2 ? 'warning':'medium'">
                  </ion-icon>
                  <ion-icon [name]="item.rating >= 3 ? 'star':'star'" [color]="item.rating >= 3 ? 'warning':'medium'">
                  </ion-icon>
                  <ion-icon [name]="item.rating >= 4 ? 'star':'star'" [color]="item.rating >= 4 ? 'warning':'medium'">
                  </ion-icon>
                  <ion-icon [name]="item.rating >= 5 ? 'star':'star'" [color]="item.rating >= 5 ? 'warning':'medium'">
                  </ion-icon>
                  <ion-label class="lbl">({{item.totalRatting ? item.totalRatting:0}}. {{util.translate('Ratings')}}
                    )</ion-label>
                </div>
                <ion-label class="small_lbl">
                  {{ (item.details.length>30)? (item.details | slice:0:30)+'..':(item.details) }}
                </ion-label>
                <ion-label class="heading_lbl">
                  <span *ngIf="util.appSettings.currencySide == 'left'">{{util.appSettings.currencySymbol}}
                    {{item.price}}
                  </span>
                  <span *ngIf="util.appSettings.currencySide == 'right'">{{item.price}}
                    {{util.appSettings.currencySymbol}}
                  </span>
                </ion-label>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="cartBtn" *ngIf="!cart.itemId.includes(item.id)">
                <ion-label class="btns" (click)="add(i)">{{util.translate('Add')}}</ion-label>
                <ion-label *ngIf="item && item.variations && item.variations?.length"
                  style="font-size: 8px;text-align: center;">
                  {{util.translate('customizable')}}</ion-label>
              </div>
              <div class="cartBtn2" *ngIf="cart.itemId.includes(item.id)">
                <ion-button (click)="removeQ(i)" fill="clear" size="small">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
                <p class="qunitity">{{item.quantiy}}</p>
                <ion-button (click)="addQ(i)" fill="clear" size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div *ngFor="let item of dummy">
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>

    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="apiCalled == true">
    <ion-fab-button color="light" mode="ios" (click)="presentPopover($event)">
      <ion-icon name="grid-outline" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="cart.cart.length && cart.cart.length > 0" (click)="viewCart()">
  <ion-toolbar color="primary">
    <ion-label color="light" class="category-cart-lbl">{{cart.totalItem}} {{util.translate('ITEM')}}</ion-label>
    <ion-label color="light" class="category-cart-lbl">
      <span *ngIf="util.appSettings.currencySide == 'left'">{{util.appSettings.currencySymbol}}
        {{cart.totalPrice}}
      </span>
      <span *ngIf="util.appSettings.currencySide == 'right'">{{cart.totalPrice}}
        {{util.appSettings.currencySymbol}}
      </span>
      {{util.translate('total price')}}</ion-label>

    <ion-button slot="end" fill="clear" color="light" class="category-cart-lbl">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      {{util.translate('View Cart')}}
    </ion-button>
    <ion-ripple-effect type="bounded"></ion-ripple-effect>
  </ion-toolbar>
</ion-footer>