<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Food Delivery Ionic 7 And Laravel
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-title>{{util.translate('Verification')}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close('false','false')">
        <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="verification-screen">
    <p> {{util.translate('We have sent verification code on')}} <br> <b> {{to}} </b></p>
    <div class="otp_content">
      <ng-otp-input (onInputChange)="onOtpChange($event)"
        [config]="{length:6,inputStyles:{'width': '40px','height': '40px','border':'1px solid lightgray','background-color':'white'}}">
      </ng-otp-input>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onSubmit()" [disabled]="isLogin" expand="block">
      <span *ngIf="!isLogin"> {{util.translate('Verify')}}</span>
      <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
    </ion-button>
  </ion-toolbar>
</ion-footer>